<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="decorators/webModel">
<body>

<div class="content_container" th:fragment="content" th:remove="tag">
    <div class="col-md">
        <!--begin::Portlet-->
        <form class="m-form m-form--fit m-form--label-align-right" target="nm_iframe" onsubmit="fun_submit()">
            <input type="hidden" th:value="${event.id}"/ id="id">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    <span th:text=${"对["+event.name+"]进行编辑"}></span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-6">
                                    <label for="name">
                                        事件名称
                                    </label>
                                    <input type="input" class="form-control m-input" id="name" placeholder=""
                                           th:value="${event.name}" required="required">
                                </div>
                                <div class="col-lg-6">
                                    <label for="memo">
                                        备注
                                    </label>
                                    <input type="input" class="form-control m-input" id="memo" th:value="${event.memo}">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-6">
                                    <label for="noticeContent">
                                        提醒内容
                                    </label>
                                    <textarea class="form-control m-input" id="noticeContent" rows="3" required="required"
                                              th:text="${event.noticeContent}"></textarea>
                                </div>
                                <div class="col-lg-6">
                                    <label for="noticeMail">
                                        发送提醒的 mail 地址
                                    </label>
                                    <textarea class="form-control m-input" id="noticeMail" rows="3" required="required"
                                              th:text="${event.noticeMail}"></textarea>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <label for="actDate">
                                        事件发生日期
                                    </label>
                                    <input type="text" class="form-control m-input" required="required"
                                           placeholder="事件发生日期" id="actDate" th:value="${event.actDate}">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-4">
                                    <label for="repeatType">
                                        重复提醒类型
                                    </label>
                                    <select class="form-control m-input" id="repeatType">
                                        <option value="0" th:selected="${event.repeatType == 0 }">
                                            到期提醒一次
                                        </option>
                                        <option value="1" th:selected="${event.repeatType == 1 }">
                                            每月当日提醒
                                        </option>
                                        <option value="2" th:selected="${event.repeatType == 2 }">
                                            每周提醒
                                        </option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label for="noticeMail">
                                        是否要发送提醒
                                    </label>
                                    <div class="col-3">
                                        <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
                                            <label>
                                                <input type="checkbox" th:checked="${event.notice}" id="notice">
                                                <span></span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions--solid">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button type="submit" class="btn btn-primary">
                                            更新
                                        </button>
                                        <button type="button" onclick="javasript:fun_back()"
                                                class="btn btn-secondary">
                                            返回
                                        </button>
                                    </div>
                                    <div class="col-lg-6 m--align-right">
                                        <button type="button" class="btn btn-danger"  th:onclick="'javascript:fun_delete(\'' + ${event.id}+'\')'">
                                            删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>
            <!--begin::Page Snippets -->
            <!-- jquery.datetimepicker-2.5.4-->
            <link th:href="@{/assets/css/lib/jQuery.dateTimePicker-2.5.4/jquery.datetimepicker.min.css}"
                  rel="stylesheet"/>
            <script th:src="@{/assets/js/lib/jQuery.dateTimePicker-2.5.4/jquery.datetimepicker.full.js}"></script>
            <!--引入结束-->
            <script th:src="@{/assets/js/event/base.js}" type="text/javascript"></script>
            <script th:src="@{/assets/js/event/edit.js}" type="text/javascript"></script>
            <!--end::Page Resources -->
    </div>

</body>
</html>
