<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="decorators/webModel">

<body>
<div th:fragment="content">

    <link th:href="@{/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css}" rel="stylesheet" type="text/css"/>

    <div class="m-portlet">
        <!--being::总览的统计信息-->
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet__body  m-portlet__body--no-padding">
                    <div class="row m-row--no-padding m-row--col-separator-xl">
                        <div class="col-xl-6">
                            <!--begin:: Widgets/Stats2-1 -->
                            <div class="m-widget1">
                                <div class="m-widget1__item">
                                    <!--begin::本周待收款笔数-->
                                    <div th:replace="dashboard/_gather_count_this_week :: content"></div>
                                    <!--end::本周待收款笔数-->
                                </div>
                                <div class="m-widget1__item">
                                    <!--begin::本月待收款笔数-->
                                    <div th:replace="dashboard/_gather_count_this_month :: content"></div>
                                    <!--end::本月待收款笔数-->
                                </div>
                            </div>
                            <!--end:: Widgets/Stats2-1 -->
                        </div>
                        <div class="col-xl-6">
                            <!--begin:: Widgets/Stats2-1 -->
                            <div class="m-widget1">
                                <div class="m-widget1__item">
                                    <!--begin::本周待收款金额-->
                                    <div th:replace="dashboard/_gather_sum_this_week :: content"></div>
                                    <!--end::本周待收款金额-->
                                </div>
                                <div class="m-widget1__item">
                                    <!--begin::本月待收款金额-->
                                    <div th:replace="dashboard/_gather_sum_this_month :: content"></div>
                                    <!--end::本月待收款金额-->
                                </div>
                            </div>
                            <!--end:: Widgets/Stats2-1 -->
                        </div>
                        <!--<div class="col-xl-4">-->
                            <!--&lt;!&ndash;begin:: Widgets/Daily Sales&ndash;&gt;-->
                            <!--<div class="m-widget14">-->
                                <!--<div class="m-widget14__header m&#45;&#45;margin-bottom-30">-->
                                    <!--<h3 class="m-widget14__title">-->
                                        <!--Daily Sales-->
                                    <!--</h3>-->
                                    <!--<span class="m-widget14__desc">-->
                                                    <!--Check out each collumn for more details-->
                                                <!--</span>-->
                                <!--</div>-->
                                <!--<div class="m-widget14__chart" style="height:120px;">-->
                                    <!--<div class="chartjs-size-monitor"-->
                                         <!--style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">-->
                                        <!--<div class="chartjs-size-monitor-expand"-->
                                             <!--style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">-->
                                            <!--<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>-->
                                        <!--</div>-->
                                        <!--<div class="chartjs-size-monitor-shrink"-->
                                             <!--style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">-->
                                            <!--<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<canvas id="m_chart_daily_sales" width="518" height="240"-->
                                            <!--class="chartjs-render-monitor"-->
                                            <!--style="display: block; height: 120px; width: 259px;"></canvas>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;end:: Widgets/Daily Sales&ndash;&gt;-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <!--end::总览的统计信息-->
        <div class="row">
            <div class="col-xl-12">
                <!--begin::Portlet-->
                <div class="m-portlet" id="m_portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon">
                                    <i class="flaticon-map-location"></i>
                                </span>
                                <h3 class="m-portlet__head-text" >
                                    日历
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div th:replace="dashboard/_fullcalendar :: content"></div>
                    </div>
                </div>
                <!--end::Portlet-->
            </div>
        </div>
    </div>
    <script th:src="@{/assets/js/dashboard/index.js}"></script>
</div>
</body>

