div .m-content {
    width: 100%
}

div #event_table_wrapper {
    display: inherit !important;
}

.dataTable_div {
    /*font-size: 0.2em;*/
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#event_table {
    /*font-size: 1em;*/
}

#event_table tbody tr td.success_type {
    color: green;
}

#event_table tbody tr td.fail_type {
    color: red;
    /*font-size: 1.0em;*/
}

div.toolbar {
    float: right;
}
