<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorators/webModel}">
<body>

<div class="content_container" th:fragment="content" th:remove="tag">
    <div class="select2_customer_type">
        <select class="" id="customer_type" style="width: 50%">
        </select>
    </div>

    <script th:src="@{/assets/js/customer_type/show.js}" type="text/javascript"></script>
</div>
</body>
</html>
